WSClient/Connected Services/ServiceRecipe/RecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateRecipe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recipe" type="tns:VO_Recipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VO_Recipe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdRecipe" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NamePatient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MedicalCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Treatment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Test" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Medicament" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Doctor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Patient" type="tns:VO_Patient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VO_Patient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPatient" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NamePatient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BirthDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:VO_Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VO_Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAddress" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suburb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateRecipeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateRecipeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRecipes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRecipesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRecipesResult" type="tns:ArrayOfVO_Recipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVO_Recipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VO_Recipe" nillable="true" type="tns:VO_Recipe" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByIdRecipe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRecipe" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIdRecipeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdRecipeResult" type="tns:VO_Recipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateRecipeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRecipe" />
  </wsdl:message>
  <wsdl:message name="CreateRecipeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRecipesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRecipes" />
  </wsdl:message>
  <wsdl:message name="GetAllRecipesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIdRecipeSoapIn">
    <wsdl:part name="parameters" element="tns:GetByIdRecipe" />
  </wsdl:message>
  <wsdl:message name="GetByIdRecipeSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdRecipeResponse" />
  </wsdl:message>
  <wsdl:portType name="RecipeServiceSoap">
    <wsdl:operation name="CreateRecipe">
      <wsdl:input message="tns:CreateRecipeSoapIn" />
      <wsdl:output message="tns:CreateRecipeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRecipes">
      <wsdl:input message="tns:GetAllRecipesSoapIn" />
      <wsdl:output message="tns:GetAllRecipesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdRecipe">
      <wsdl:input message="tns:GetByIdRecipeSoapIn" />
      <wsdl:output message="tns:GetByIdRecipeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecipeServiceSoap" type="tns:RecipeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRecipe">
      <soap:operation soapAction="http://tempuri.org/CreateRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecipes">
      <soap:operation soapAction="http://tempuri.org/GetAllRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdRecipe">
      <soap:operation soapAction="http://tempuri.org/GetByIdRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecipeServiceSoap12" type="tns:RecipeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRecipe">
      <soap12:operation soapAction="http://tempuri.org/CreateRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecipes">
      <soap12:operation soapAction="http://tempuri.org/GetAllRecipes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdRecipe">
      <soap12:operation soapAction="http://tempuri.org/GetByIdRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService">
    <wsdl:port name="RecipeServiceSoap" binding="tns:RecipeServiceSoap">
      <soap:address location="http://localhost:50034/WS/RecipeService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecipeServiceSoap12" binding="tns:RecipeServiceSoap12">
      <soap12:address location="http://localhost:50034/WS/RecipeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>